body {
    background: linear-gradient(135deg, #f0f4ff, #d0e8ff);
    font-family: 'Poppins', sans-serif; /* Use Poppins for the body */
    overflow-x: hidden;
    height: 100vh; 
  }

.navbar {
    display: flex;
    justify-content: center;
    height: 50px;
    padding: 0.5rem 1rem;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.2rem;
    font-weight: 600;
}

.navbar-nav .nav-item .nav-link {
    font-size: 0.9rem;
    padding: 0.5rem 0.75rem;
}

.navbar-toggler {
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
}

.btn-outline-danger {
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
    border-width: 1px;
}

.btn-outline-danger:hover {
    background-color: #dc3545;
    color: #ffffff;
}

.logout-container {
    display: flex;
    justify-content: center;
}